# Vault Secrets
VAULT_ROOT_TOKEN=root

# Wiki.js Database
WIKI_DB_USER=wikijs
WIKI_DB_PASS=changeme_wiki
WIKI_DB_NAME=wikijs

# Semaphore Database & Admin
SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS=changeme_semaphore
SEMAPHORE_DB_NAME=semaphore
SEMAPHORE_ADMIN_PASS=changeme_admin
